<div class="colum-content">
        <div class="colum-2">{{item.companyName}}</div>
        <div class="colum-2">{{item.stockExchange}}</div>
        <div class="colum-2">{{item.share}}</div>
        <div class="colum-2">{{item.numberShare}}</div>
        <div class="colum-2">{{item.openDatetime}}</div>
        <div class="colum-2">{{item.remarks}}</div>
        <div class="colum-2 align-center">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="handleEdit()">Edit</button>
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="handleDelete()">Del</button>
        </div>
</div>