<div class="main-content">
    <div class="colums">
        <div class="colum-title">
            <span class="colum-2">Company Name</span>
            <span class="colum-2">CEO</span>
            <span class="colum-2">Broad member</span>
            <span class="colum-2">Industry</span>
            <span class="colum-2">Sector</span>
            <span class="colum-2">Current/last stock market price</span>
            <span class="colum-2">Remarks</span>
        </div>
        <user-ipo-item *ngFor="let item of itemList" [item]="item"></user-ipo-item>
    </div>
</div>                                                    