.main-content {
    .colums {
      background-color: powderblue;
      width: 100%;
    
      .colum-title {
        font-weight: 500;
        height: 40px;
        line-height: 40px;
        text-align: center;
       
        .colum-2 {
          display: inline-block;
          width: calc(100% / 6);
          border:1px solid gray;
        }
      }
  
    }
  }