.main-content {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  .update-conent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    input {
      width: 400px;
    }
  }
}