.content {
  position: absolute;
  top: 50%;
  width: 400px;
  left: 50%;
  margin-left: -0.5 * 400px;
  transform: translate(0, -50%);
  .btn-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    button {
      width: 40%;
    }
  }
}
