.content {
  position: absolute;
  top: 50%;
  width: 400px;
  left: 50%;
  margin-left: -0.5 * 400px;
  transform: translate(0, -50%);

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    .align-block {
      display: block;
      text-align: center;
      margin: 16px;
    }
  }
}
