<div class="colum-content">
        <div class="colum-2">{{item.companyName}}</div>
        <div class="colum-2">{{item.ceo}}</div>
        <div class="colum-2">{{item.directors}}</div>
        <div class="colum-2">
                <span *ngFor="let son of item.exchange">
                    {{son.stockExchange}}
                </span>
            </div>
            <div class="colum-2">
                <span *ngFor="let son of item.sector">
                    {{son.sectorName}}
                </span>
            </div>
        <div class="colum-2">{{item.stockPrice}}</div>
        <div class="colum-2">{{item.turnover}}</div>
</div>