.colum-content {
  .first-level {
    .colum-2 {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      background-color: beige;
      display: inline-block;
      width: calc(100% / 7);
    }
    .align-center {
      text-align: center;
      button {
        margin-right: 10px;
      }
    }
  }
  .second-level {
    height: 80px;
    padding: 10px;
  }
}