<div class="colum-content">
    <div class="first-level">
        <div class="colum-2">{{item.companyName}}</div>
        <div class="colum-2">{{item.turnover}}</div>
        <div class="colum-2">{{item.ceo}}</div>
        <div class="colum-2">{{item.directors}}</div>
        <div class="colum-2" *ngIf="item.exchange.length != 0">
            <span *ngFor="let son of item.exchange">
                {{son.stockExchange}}
            </span>
        </div>
        <div class="colum-2" *ngIf="item.exchange.length == 0">
            <span>
                &nbsp;
            </span>
        </div>
        <div class="colum-2" *ngIf="item.sector.length != 0">
            <span *ngFor="let son of item.sector">
                {{son.sectorName}}
            </span>
        </div>
        <div class="colum-2" *ngIf="item.sector.length == 0">
            <span>
                &nbsp;
            </span>
        </div>
        <div class="colum-2 align-center">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="handleEdit()">Edit</button>
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="handleDelete()">Del</button>
        </div>
    </div>
    <div class="second-level">
        <span>{{item.brief}}</span>
    </div>
</div>